.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(30, 38%, 92%);
}

h5 {
    font-size: 1.55rem;
}

.small,
small {
    font-size: 100%;
}

.card-title {
    font-family: 'Fraunces', serif;
}

.card-text,
.strike {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
}

.price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    text-align: right;
    font-size: 25px;
}

.new-price {
    padding-right: 0px;
}

.btn-primary {
    background: hsl(158, 36%, 37%) !important;
    border-color: hsl(158, 36%, 37%) !important;
}